<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista compra online</title>
    <!--Libreria Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Libreria AXIOS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- ESTILOS -->
    <style>
        #app ul {
            list-style: none;
        }
        
        #app ul li.comprado span {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <h1>Lista de la compra</h1>
    <div id="app">
        <ul>
            <li v-for="item in items" :key="item.id" :class="{comprado:item.comprado}">
                <span> 
                    <input type='checkbox' id="check" v-model="item.comprado" @click="update(item.id, item.texto, item.comprado)"/>
                    {{item.id}} {{item.texto}}
                    <button id="btn-del" @click="deleted(item, item.id)">Borrar</button>
                </span>
            </li>
        </ul>
        <!-- AÑADIR NUEVOS ITEMS -->
        <h3>A&ntilde;ade un producto</h3>
        <input type="text" ref="new_item" />
        <button id="btn-add" @click="add">A&ntilde;adir</button>
    </div>
</body>

<script>
    'use strict' // Aplica normas mas estrictas en el codigo

    var datos = {}

    var app = new Vue({
        el: '#app',
        data: {
            items: [{}],
        },

        methods: {
            add: function() {
                datos = {
                    texto: this.$refs.new_item.value,
                    comprado: false
                }

                this.$refs.new_item.value = "";
                axios.post('/api/lista', datos).then((res) => {
                    res.data
                    this.items.push(res.data);
                })
            },

            update: function(item_id, item_texto, item_comprado) {
                item_comprado = !item_comprado

                datos = {
                    id: item_id,
                    texto: item_texto,
                    comprado: item_comprado
                }

                axios.put('/api/lista/' + item_id, datos).then((res) => {
                    res.data
                    var mod = this.items.find((x) => x.id == item_id);
                    mod.comprado = datos.comprado
                })
            },

            deleted: function(i, item_id) {
                console.log("item ID-------> " + item_id)
                axios.delete('/api/lista/' + item_id).then((res) => {
                    // El id del elemento borrado
                    this.items.splice(i, 1)
                });
            },

            created: function() {
                axios.get('/api/lista').then((res) => {
                    res.data
                    this.items = res.data
                })
            }
        }
    })
</script>

</html>