table {
    font-family: sans-serif;
    font-size: 300%;
    text-align: center;
    width: 25vw;
    cursor: pointer;
    color: rgb(42, 230, 255);
}

td {
    border: 1px solid;
    border-radius: 15%;
    background-color: rgb(75, 73, 73);
}

.result {
    text-align: right;
    height: 2.5vh;
    cursor: default;
    background-color: rgb(214, 214, 214);
    color: black;
    border-radius: 0%;
}